/* start-up */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
/* utility */
:root{
    --img-back: #0F0E17;
    --email: #19ADDB;
    --title: #E53170;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.debug{
    border: 1px solid black;
}
.align{
    text-align: center;
}

/* header */
header{
    padding-top: 1rem;
}
.container{
    max-width: 60%;
    margin: 0 auto;
}
h1{
    color: var(--title);
}
/* main */
.single-person{
    background-color: var(--img-back);
    height: 100px;
    box-shadow: 3px 3px 3px lightgrey;

}
.pad{
    padding: 20px 15px;
}
.person-wrap{
    width: calc(100% / 3);
    float: left;
    min-width: 340px;
}

.single-person > img{
    width: 100px;
    float: left;
    margin-right: 10px;
}
.person-infos{
    padding-top: 10px;
}

.single-person h2, span:first-of-type{
    color: white;
    display: block;
}
.email{
    color: var(--email);
}